block vars
.modal.fade(id=modal_id tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close'): span(aria-hidden='true') &times;
        h3.modal-title.subhead= title

      .modal-body
        block modal

      .modal-footer
        button.btn.btn-primary(type='button' data-dismiss='modal') Close
