footer {background: #000;}
.soc-media-ul {
  display: flex;
  justify-content: center;
}
.soc-media-ul li:not(:first-child) a {margin-left: 1em;}
.soc-media-ul a {
  padding: 0.35em 0;
  width: 1.85em;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
  &:hover,
  &:focus {color: #ff00d5;}
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

footer {padding: 1.5em 0;}
// form {
//   @media screen and (max-width: 768px) and (min-width: 485px) {max-width: 70%;}
// }

.footer_left p {

}
