footer {background: #000;}
.soc-media-ul {
  display: flex;
  justify-content: center;
}
.soc-media-ul li:not(:first-child) a {margin-left: 1em;}
.soc-media-ul a {
  padding: 0.35em 0;
  width: 1.85em;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
  &:hover,
  &:focus {color: red;}
}

