//////////////////////ORIGINAL!!!!?////////////
// $white:     #FFFFFF;
// $grey:      #BBBBBB;
// $darkgrey:  #333333;
// $lightgrey: #DDDDDD;
// $brand:     #00aeef;
// $offwhite:  #F1F1F1;
// $shadow:    rgba(0,0,0,.1);

* {box-sizing: border-box;}

body {
  background: $lightgrey;
  font-size:   14px;
  font-family: "Open Sans";

  justify-content: center;
  // background-color: cadetblue;

}

img {max-width: 100%;}

img.img-responsive {
  width: 337.33px;
  height: 226.563px;
}


.row {
  display: inline-block;
  width: 100%;
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

.column {
  float: left;
  position: relative;
  min-height: 1px;
  display: block;
  // width: 25%;
  padding: 7px;

}

.portfolio, .filters {
  @extend .row;
  max-width: 1650px;
  margin: 9px auto;
  display: block;
}

.filters {
  font-size: 1.5em;
  margin-bottom: 20px;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  padding: 15px;
}

.filter {
  @extend .column;
  height: auto;
  margin-bottom: 15px;
  margin-right: 35px;
  cursor: pointer;
  font-size: 1em;
  color:     $grey;
  &:hover {color: $darkgrey;}
}


h2 {
  font-family:    "Montserrat";
  // letter-spacing: -1.5px;
  margin: 9px 0;
  // border-bottom: 1px solid $grey;
  padding-bottom: 7px;
}

.no-gutter {padding-right: 0;}

.portfolio--project {
  @extend .column;
}

.project_img {
  background: $white;
  display: block;
  width:  337px;
  border-left:   1px solid $grey;
  border-right:  1px solid $grey;
  border-top:    1px solid $grey;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -2px 3px 0 $shadow;
  img {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $lightgrey;
  }
}

.project {
  // border-left:   1px solid  $grey;
  border-right:  1px solid $grey;
  border-bottom: 1px solid $grey;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px 0 $shadow;
  background: $white;
  width: 337px;
  height: 172px;
  display: flex;
  justify-content: center;
}

.project_caption {
  padding: 10px 7px 10px;
  font-size:    1em;
  font-family:  "Montserrat";
  font-weight:  700;
  width: 337px;
  height: 171.333px;
  justify-content: center;
}

.project_blurb {
  @extend .project_caption;
  padding: 7px;;
  font-size:   .75em;
  font-family: inherit;
  font-weight: 300;
  width: 323px;
  height: 122px;
  line-height: 14px;
}

.blurb--link {
  display: inline-block;
  margin: 10px 5px;
  background: $brand;
  color:           $white;
  text-decoration: none;
  padding: 10px 15px;
  clear: both;
  border-radius: 4px;
  &:hover {background: darken($brand, 20%);}
}

.active-filter {
  color: $brand;
  &:hover {color: $brand;}
}

@media (max-width: 1024px) {
  .portfolio--project {width: 33.33%;}
}

@media (max-width: 824px) {
  .portfolio--project {width: 50%;}
  .project_img {
    max-height: 10em;
    overflow: hidden;
    border-bottom: 1px solid $lightgrey;
  }
}

@media (max-width: 600px) {
  .filter {width: 100%;}
  .portfolio--project { width: 100%;}
  .project_img img {min-width: 100%}
}

@media (max-width: 500px) {
  .project_img {
    text-align: center;
  }
}

