//////////////////////ORIGINAL!!!!?////////////
// $white:     #FFFFFF;
// $grey:      #BBBBBB;
// $darkgrey:  #333333;
// $lightgrey: #DDDDDD;
// $brand:     #00aeef;
// $offwhite:  #F1F1F1;
// $shadow:    rgba(0,0,0,.1);

.project_img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 1s ease;
          transition: 1s ease; }

          //////_______________________///////

* {box-sizing: border-box;}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    reset: then text-align;
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


body {
  background: $lightgrey;
  font-size:   14px;
  font-family: "Open Sans";
  // justify-content: center;
  // background-color: cadetblue;
}

img {max-width: 100%;}

// img.img-responsive {
//   width: 337.33px;
//   height: 226.563px;
// }


.row {
  display: inline-block;
  width: 100%;
  margin: auto;
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

.column {
  float: left;
  position: relative;
  min-height: 1px;
  display: block;
  width: 25%;
  padding: 17px;

}

.portfolio, .filters {
  @extend .row;
  max-width: 1650px;
  margin: 9px auto;
  display: block;
  margin: auto;
}

.filters {
  font-size: 1.5em;
  margin-bottom: 20px;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  padding: 15px;
}

.filter {
  @extend .column;
  height: auto;
  margin-bottom: 15px;
  // margin-right: 35px;
  cursor: pointer;
  font-size: 1em;
  color:     $grey;
  &:hover {color: $darkgrey;}
}


h2 {
  font-family:    "Montserrat";
  // letter-spacing: -1.5px;
  margin: 9px 0;
  // border-bottom: 1px solid $grey;
  padding-bottom: 7px;
}

.no-gutter {padding-right: 0;}

.portfolio--project {
  @extend .column;
}

.project_img {
  background: $white;
  display: block;
  // width:  337px;
  border-left:   1px solid $grey;
  // border-right:  1px solid $grey;
  border-top:    1px solid $grey;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -2px 3px 0 $shadow;
  img {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $lightgrey;
  }
}

.project {
  // border-left:   1px solid  $grey;
  border-right:  1px solid $grey;
  border-bottom: 1px solid $grey;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px 0 $shadow;
  background: $white;
  // width: 337px;
  // height: 172px;
  // display: flex;
  // justify-content: center;
}

.project_caption {
  // padding: 10px 7px 10px;
  font-size:    1em;
  font-family:  "Montserrat";
  font-weight:  700;
  font-weight: bold;
  // width: 337px;
  // height: 171.333px;
  justify-content: center;
}

.project_blurb {
  @extend .project_caption;
  padding: 7px;;
  font-size:   .75em;
  font-family: inherit;
  font-weight: 300;
  // width: 323px;
  // height: 122px;
  line-height: 14px;
  &:hover {background: darken($lightgrey, 20%);}
}

.blurb--link {
  display: inline-block;
  // margin: 8px 5px;
  background: $brand;
  color:           $white;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  margin-right: 20px;
  // width: 323px;
  // height: 122px;
  line-height: 14px;
  &:hover {background: darken($lightgrey, 20%);}
  clear: both;
  border-radius: 4px;
  &:hover {background: darken($lightgrey, 20%);}
}
.blurb--link {
    padding: 8px 8px;
}

.btn {
    display: inline-block;
    // padding: 8px 12px;
    margin-bottom: 0;
    // font-size: 14px;
    font-weight: 400;
    // line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $brand;
    color: white;
}
.active-filter {
  color: $brand;
  &:hover {color: $brand;}
}

@media (max-width: 1024px) {
  .portfolio--project {width: 33.33%;}
}


@media (max-width: 824px) {
  .portfolio--project {width: 50%;}
  .project_caption {font-size:.8em;
  font-family:  "Montserrat";
  font-weight:  bold;}
  .project_img {
    // max-height: 10em;
    // .project {font-size: 14px;}
    // .btn{font-size: 10px;}
    overflow: hidden;
    border-bottom: 1px solid $lightgrey;

  }
}
@media (max-width: 824px){
  .project_blurb {
    font-weight: bold;
    text-align: center;
}
}

@media (max-width: 600px) {
  .filter {width: 100%;}
  .portfolio--project { width: 100%;}
  .project_img img {min-width: 100%}
  // .project {font-size: 12px;}
}

@media (max-width: 500px) {
  .filter {
    width: 100%;
    // font-size: 18px;
    padding: 0px;
}
  .portfolio--project { width: 100%;}
  .project_img img {width: 100%}
  // .project {font-size: 12px;}
}




