.skills {
  background-color: white;
  text-align: center;
}

.thumbnail{
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

.centerText{
  text-align: center;
}
@media (max-width: 600px) {
  .thumbnail {min-width: 100%;}
}

