h1 {
  color: pink;
}

h1:hover {
  color: #ff00d5;
  transition: all 1s linear;
}

// body {
//   background-color: blue;
// }
// h2 {
//   color: cadetblue;
// }

// h2:hover {
//   color: #ff00d5;
//   transition: all 1s linear;
// }

// body {
//   padding: 0;
// }
