extends ../template/_modal

block vars
  - var modal_id = 'modalmobileUx'
  - var title = 'Developer Relations'

block modal
  .row
    .col-sm-12
      img.img-responsive(src='assets/img/projects/ux/mobileDev.png')
    .col-sm-12
      h3.text-align-center Sample slides from client project&nbsp;
      h4.text-align-center Research on the future of mobile development, cloud computing, iOT and Developer Relations.
    .col-sm-12
      img.img-responsive(src='assets/img/projects/ux/mob2.png')
    .col-sm-12
      h3.text-align-center Targeting Developers&nbsp;
      img.img-responsive(src='assets/img/projects/ux/mob4.png')
    .col-sm-12
      h3.text-align-center Ecosystem&nbsp;
      h4.text-align-center Developer Ecosystem for client
      img.img-responsive(src='assets/img/projects/ux/mob5.png')


