extends ../template/_modal

block vars
  - var modal_id = 'modalmoseyUx'
  - var title = 'Mosey (Business Development & Operations)'

block modal
  .row
    .col-sm-12
      h3.text-align-center Sample slides from client project&nbsp;
      img.img-responsive(src='assets/img/projects/startup/moseyClient.png')
    .col-sm-12
      h3.text-align-center What does Mosey mean to the target audience? How can we work on operations and ramp-up?
      img.img-responsive(src='assets/img/projects/startup/mosey1.png')
    .col-sm-12
      h3.text-align-center Market Size: Online Travel Industry&nbsp;
      h4.text-align-center Snapshot of Industry
      img.img-responsive(src='assets/img/projects/startup/mosey2.png')
    .col-sm-12
      h3.text-align-center Example Business Opportunity&nbsp;
      img.img-responsive(src='assets/img/projects/startup/mosey3.png')
    .col-sm-12
      h3.text-align-center Example Business Opportunity Ecosystem&nbsp;
      h4.text-align-center Key Revenue Streams, Partnerships, Opportunities
      img.img-responsive(src='assets/img/projects/startup/mosey4.png')


