extends ../template/_modal

block vars
  - var modal_id = 'modalOtakuUx'
  - var title = 'Otaku Project'

block modal
  .row
    .col-sm-12
      img.img-responsive(src='assets/img/projects/ux/FoosUX.png')

    .col-sm-12
      h3.text-align-center Description&nbsp;
      h4.text-align-center Interactive Design and Research project connecting global gamers at various airports.
    .col-sm-12
      iframe(src='https://player.vimeo.com/video/89867090', frameborder="0", allowfullscreen='')

    .col-sm-12
      h4.text-align-center The gaming industry is headed towards more interactive and immersive experiences. With the challenge of mobility and gaming, we wanted to be able to foster connection between two parties across distance. We aimed to accomplish this primarily through the physical space versus the digital one (which exists with current video games). Due to the fact that physical interactions offer opportunities for richer sensorial experiences than virtual ones.
    .col-sm-12
      h3.text-align-center Initial Prototype
      img.img-responsive(src='assets/img/projects/ux/otaku1.jpg')
    .col-sm-12
      h3.text-align-center Intent
      img.img-responsive(src='assets/img/projects/ux/otaku2.jpg')
    .col-sm-12
      h3.text-align-center Experience
      img.img-responsive(src='assets/img/projects/ux/otaku3.jpg')
    .col-sm-12
      h3.text-align-center Result
      img.img-responsive(src='assets/img/projects/ux/otaku4.jpg')

