extends ../template/_modal

block vars
  - var modal_id = 'modalplusUx'
  - var title = 'People Like Us'

block modal
  .row
    .col-sm-12
      img.img-responsive(src='assets/img/projects/ux/teamY.png')
    .col-sm-12
      h3.text-align-center Description&nbsp;
      h4.text-align-center After identifying a key educators' need for engagement and community support, our team developed a web-based solution that would allow them to post their most significant needs. Be it supplies, guest lecturers, services, helping hands, or any other service, PLUS connects the teachers with their immediate community creating collaboration networks.
    .col-sm-12
      iframe(src='https://www.youtube.com/embed/-NPZyVpmp5Q', frameborder='0', allowfullscreen='')



