extends ../template/_modal

block vars
  - var modal_id = 'modalplumeUx'
  - var title = 'Plume (Co-Founder)'

block modal
  .row
    .col-sm-12
      h3.text-align-center Plume&nbsp;
      img.img-responsive(src='assets/img/projects/startup/plume1.jpg')
    .col-sm-12
      h3.text-align-center Industry
      h4.text-align-center Opportuntiy for Disruptive Innovation
      img.img-responsive(src='assets/img/projects/startup/plume2.jpg')
    .col-sm-12
      h3.text-align-center Problem Space&nbsp;
      h4.text-align-center Any Change in Menstruation Can Indicate Changes in Women's Overall Health.
      img.img-responsive(src='assets/img/projects/startup/plume3.jpg')
    .col-sm-12
      h3.text-align-center Example Business Opportunity And Benefits &nbsp;
      img.img-responsive(src='assets/img/projects/startup/plume4.jpg')
    .col-sm-12
      h3.text-align-center Plume Ecosystem&nbsp;
      img.img-responsive(src='assets/img/projects/startup/plume5.jpg')


