extends ../template/_modal

block vars
  - var modal_id = 'modalpopupUx'
  - var title = 'Popuphood(Experience Design & Research)'

block modal
  .row
    .col-sm-12
      h3.text-align-center Old Oakland Development Opportunities&nbsp;
      img.img-responsive(src='assets/img/projects/ux/pop6.jpg')
    .col-sm-12
      iframe(src="https://player.vimeo.com/video/33187820" frameborder='0', allowfullscreen='' webkitallowfullscreen mozallowfullscreen)
      //- iframe(src="https://14-lvl3-pdl.vimeocdn.com/01/1637/1/33187820/75619484.mp4?expires=1443563571&token=04012f97e00de148e1e57", frameborder='0', allowfullscreen='')
    .col-sm-12
      h3.text-align-center Example Slides&nbsp;
      h4.text-align-center Market Research and Key Customer Analysis Data
      img.img-responsive(src='assets/img/projects/ux/pop1.jpg')
      img.img-responsive(src='assets/img/projects/ux/pop2.jpg')
      img.img-responsive(src='assets/img/projects/ux/pop3.jpg')
      img.img-responsive(src='assets/img/projects/ux/pop4.jpg')
      img.img-responsive(src='assets/img/projects/ux/pop5.jpg')


