extends ../template/_modal

block vars
  - var modal_id = 'modalshareboxUx'
  - var title = 'Sh@reBox(Second Capstone Project)'

block modal
  .row
    .col-sm-12
      h3.text-align-center Technologies Used: &nbsp;
      h4.text-align-center MySQL, AngularJS, Node.js, Express, Jade, Bootstrap, Sequelize, Grunt, Passport, Cloudinary, Heroku.
      img.img-responsive(src='assets/img/projects/web/share2.jpg')
    .col-sm-12
      h4.text-align-center Sh@rebox is an easy and safe way to lend, borrow, or trade items with local residents and friends in your area. Through a set of localized smart pods, modular storage spaces are filled with __insert awesome stuff here__. Our online platform manages the inventory and keeps the process transparent and efficient, so sharing can be second nature.  Got a slow cooker you used once for a party that’s now taking up space? Add it to Sh@rebox and allow your neighbors to use it too! &nbsp;
      h3.text-align-center Future versions will have other features such as user reviews and more locations.
      &nbsp;
      &nbsp;
    .col-sm-12
      h3.text-align-center User Wireframe and Ecosystem &nbsp;
      img.img-responsive(src='assets/img/projects/web/share3Eco.jpg')
      img.img-responsive(src='assets/img/projects/web/share4Borrow.jpg')
      &nbsp;
      &nbsp;
    .col-sm-12
      h3.text-align-center Take a Look&nbsp;
      &nbsp;
      h4.text-align-center Login via Facebook, Twitter, or Local to start posting and sharing items! &nbsp;&nbsp;
      &nbsp;
      img.img-responsive(src='assets/img/projects/web/screenLogin.png')
      &nbsp;
      img.img-responsive(src='assets/img/projects/web/shareScreen.png')
      &nbsp;
      img.img-responsive(src='assets/img/projects/web/postItem.png')
      &nbsp;
    .col-sm-12
      a.blurb--link(href='https://github.com/jybjones/shareBox', target='_blank') View GitHub
