extends ../template/_modal

block vars
  - var modal_id = 'modalsnackTNUx'
  - var title = 'Snack Tennessee(Collaborator During Hack Tennessee 2015)'

block modal
  .row
    .col-sm-12
      h3.text-align-center SnackTN App&nbsp;
      h4.text-align-center Snack Tennessee' is an app in celebration of all makers in  Tennesse, from those who make and grow our food to those who make the beverage that fuel our code and allow us to have a little relaxation. It's a true celbration of all homegrown products.
    .col-sm-12
      img.img-responsive(src='assets/img/projects/web/snackTn.png')
    .col-sm-12
      h3.text-align-center Hack Tennessee&nbsp;
      h4.text-align-center The Community Who Came Together To Build SnackTN In 48 Hours.
    .col-sm-12
      img.img-responsive(src='assets/img/projects/web/snack2.jpg')
    .col-sm-12
      a.blurb--link(href='https://github.com/RJFryman/snack_tennessee', target='_blank') View GitHub
