extends ../template/_modal

block vars
  - var modal_id = 'modalspaceCatsUx'
  - var title = 'SpaceCats!!!(First Capstone Project)'

block modal
  .row
    .col-sm-12
      h3.text-align-center SpaceCats!!!&nbsp;
      h4.text-align-center Technologies Used: Phaser, An Open Source Framework For Canvas And WebGL Powered Browser Games.
    .col-sm-12
      img.img-responsive(src='assets/img/projects/web/spaceCats.png')
    .col-sm-12
      h3.text-align-center V.1 was setup to test this new framework and functionality. Currently, a user will have 30 seconds, or 9 lives, to shoot lasers at the enemy, Doge, which is a sprite sheet I also created using Photoshop.&nbsp;
      h3.text-align-center Future versions will have other features such as different levels of difficulty and a leaderboard.
    .col-sm-12
      a.blurb--link(href='https://github.com/jybjones/SpaceCats', target='_blank') View GitHub
