extends ../template/_modal

block vars
  - var modal_id = 'modalwavUx'
  - var title = 'wﾄ」 app (UX Tester & Community Manager)'

block modal
  .row
    .col-sm-12
      h3.text-align-center wﾄ」 app&nbsp;
      h4.text-align-center We built wﾄ」 because we wanted a fun place for our friends to be beautiful, stupid, hilarious and witty with us, and hopefully meet some new, like-minded people along the way.
    .col-sm-12
      iframe(src='https://player.vimeo.com/video/112088140', width="500" height="281" frameborder="0", webkitallowfullscreen mozallowfullscreen  allowfullscreen='')
    .col-sm-12
      h3.text-align-center Images
      img.img-responsive(src='assets/img/projects/startup/wav3.png')
    .col-sm-12
      h3.text-align-center App Store&nbsp;
      h4.text-align-center App Store Featured wﾄ」 When We Launched
      img.img-responsive(src='assets/img/projects/startup/wavLA.JPG')

