extends ../../_partials/template/modal.jade

block vars
  - var modal_id = 'modalOtakuUx'
  - var title = 'Otaku Project'

block content
  .row
    .col-sm-6
      img.img-responsive(src='assets/img/projects/ux/FoosUX.png')

    .col-sm-6
      h6.secondary-headline.sm Description
      p Otaku Project was awesome asfsdfsdfasfasfs.

      h6.secondary-headline.sm Features
      ul
        li Feature #1
        li Feature #2
        li Feature #3
        li Feature #4
        li Feature #5

      .padding-top
        a(href='#' target='_blank') Link goes here



