extends ../../_partials/template/modal.jade

block vars
  - var modal_id = 'modalProjectGarminFenix3'
  - var title = 'Test Project'

block content
  .row
    .col-sm-6
      img.img-responsive(src='http://lorempixel.com/800/800/people/')

    .col-sm-6
      h6.secondary-headline.sm Description
      p Description of the project goes here.

      h6.secondary-headline.sm Features
      ul
        li Feature #1
        li Feature #2
        li Feature #3
        li Feature #4
        li Feature #5

      .padding-top
        a(href='#' target='_blank') Link goes here

