section#about
.container#filters
.well
  section#about
  .container#about
    .container
        .row
          .col-lg-12.col-md-12
            .about_area
              .heading
                h2.wow.fadeInLeftBig About Me
                hr.hr-fade.line-dark
                p
                  | Hello World, welcome to my site: jybjones.com. I have a background in entertainment and media with a focus in Business Development. Having recently completed my MBA in Design Strategy, I discovered a passion and need to continue to grow as an interdisciplinary facilitator and communicator at the intersection of business, design, and tech. From agencies, startups, and fortune500 companies, I am an agile collaborator who strives in dynamic environments where innovation, education, and creative thinking are valued and encouraged.
                p
                  | I am available for freelance opportunities if the project is a good fit.
                .col-lg-12.col-md-12
            .service_area
              .row
                .col-lg-6.col-md-6.col-sm-6
                  .single_service.wow.fadeInLeft
                    .service_iconarea
                      span.fa.fa-line-chart.service_icon.fa-4x
                    h3.service_title Design Strategist
                    p
                      | Design Strategist and creator passionate about finding exciting and engaging ways design can be used to translate ideas into value and how we can merge design into tangible form and function by strengthening creative endeavors that align business goals and objectives.
                .col-lg-6.col-md-6.col-sm-6
                  .single_service.wow.fadeInRight
                    .service_iconarea
                      span.fa.fa-suitcase.service_icon.fa-4x
                    h3.service_title Software Developer
                    p
                      | Full Stack Software Developer passionate about creating the connections and solutions to everyday problems. I’m equally enthusiastic about challenges to the front-end and back-end of web applications and am familiar and proficient with frameworks, libraries, task managers, Javascript, Node.js, Angular.js and more.
