section#about
      .container
        .row
          .col-sm-12.padding-bottom
            .about_area
              //- // START ABOUT HEADING
              .heading
                h2.wow.fadeInLeftBig About Me
                hr.hr-fade.line-dark
                p
                  | Hi! My name is Jennifer Jones and I am a software developer. I've enjoyed the capabilities/challenges that code presents.
              .row
                p.col-md-5.col-md-offset-1
                  | Design Strategist and creator passionate about making connections between design and business logic. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                p.col-md-5
                  | Fullstack Developer, MBA in Design Strategy with a background in film, finance, and french linguistics. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.


