#featured.carousel.slide(data-ride='carousel')
  #slides
        ol.carousel-indicators
        .carousel-inner.fullheight
          .item
            img(src='assets/img/leaning.jpg', alt='Vacation')
            .absolute-div
              .carousel-caption
                h1 Jennifer YB Jones, MBA Design Strategy
          .item
            img(src='assets/img/sparkle.jpg', alt='Sparkle')
            .absolute-div
              .carousel-caption
                h1 I'm a Hybrid Designer & Developer Who Loves Design, Media & Tech
          .item
            img(src='assets/img/ponies.jpg', alt='Ponies')
            .absolute-div
              .carousel-caption
                h1 Horse Around and Click on Some Navbar Links...

        // carousel-inner
        a.left.carousel-control(href='#featured', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#featured', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
      // featured carousel


