section#contact
.container#filters
.well
  section#contact
  .container#filters
  .well
    .container
        .row
          .col-lg-12.col-md-12
              .heading
                h2.wow.fadeInLeftBig Contact Me
                hr.hr-fade.line-dark
          .col-lg-8.col-lg-offset-2.center
            .content.text-align-center
              h2
                | Feel free to send me a message via email or LinkedIn

                .col-lg-12.col-md-12.text-align-center
                      //- h2.span Click for LinkedIn Profile
                      //- img.img-responsive(src='assets/img/social/github10.png')
                      //- a(href='https://www.linkedin.com/in/jybjones', target='_blank')

