section#contact
  .container
    .row
      .col-sm-12
        h2.wow.fadeInLeftBig Contact Me
        hr.hr-fade.line-dark

      .col-md-12.txt-align-center
        p.txt-lg Feel free to send me a message through my LinkedIn profile. I'll try my best to get back to you as soon as I can.
        p.txt-lg I am available for freelance opportunities if the project is a good fit.

        ul.list-inline.social
          li: a(href='https://www.linkedin.com/in/jybjones') Click for LinkedIn Profile
          li: a(href='https://www.linkedin.com/in/jybjones'): span(src="assets/img/social/linkedInVec.png", style='font-size: 40px;')

