section#projects
  .container#filters
    .row
      .col-lg-12.col-md-12
        .heading
          h2.wow.fadeInLeftBig Projects
          hr.hr-fade.line-dark
          p
            | Some projects I have worked on:
    .txt-align-center.padding-bottom
  .filters
      h2 Filter projects by:
      .filter.UX-project UX Design & Research
      .filter.Startup-project Startups
      .filter.WD-project Github Projects
      .filter.Misc-project Misc...
      //each row have 3 columns w/3wide divs
      .row.container-small
        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/mobileDev.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Mobile Future
                .project_blurb
                  | Research on the future of mobile development for a client.
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/FoosUX.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Zamba!
                .project_blurb
                  | Interactive Design and Research project connecting global gamers at various airports.
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/teamY.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Teachers
                .project_blurb
                  | Interactive Design and Research project connecting global gamers at various airports.
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

      .row
        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/moseyClient.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Mosey
                .project_blurb
                  | Mosey is an SF startup where people create adventures.
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/plumeLanding.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Plume
                .project_blurb
                  | The first smart tampon and app to help women keep track of their menstrual cycles.
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/wav.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption wāv app
                .project_blurb
                  | wāv app is a new social site to meet people nearby, download on iTunes!
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/popuphood.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Popuphood
                .project_blurb
                  | Small business incubator in Oakland, CA
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx
      .row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/verified.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Verified
                .project_blurb
                  | Verify your professional colleagues, download on iTnes!
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/snackTn.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption SnackTN!
                .project_blurb
                  | Created an app during HackTn 2015
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/spaceCats.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption SpaceCats!
                .project_blurb
                  | Mid-term capstone at NSS. Built using Angular and Phaser, this is a fun game with cats in space!
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

        //.row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/weather.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption WeatherApp
                .project_blurb
                  | One of my first projects at NSS using an API
                  .clearfix
                  a.blurb--link(href='http://jybjones.com/WeatherApp/') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx

      .row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Misc
          .project_img
            img.img-responsive(src='assets/img/projects/web/snackTn.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption Misc Caption
                .project_blurb
                  | Small Blurb here about project
                  .clearfix
                  a.blurb--link(href='#') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include modal/_otakuUx
