section#projects
.container#filters
.well
  h2.wow.fadeInLeftBig Some Projects I Have Worked On
  hr.hr-fade.line-dark

  .filters
      h2 Filter projects by:
      h3.filter.UX-project UX Design & Research
      h3.filter.Startup-project Startups
      h3.filter.WD-project Github Projects
      //- .filter.Misc-project Misc...
      //each row have 3 columns w/3wide divs
      .row.container-small
        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/mobileDev.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Mobile Future
                .project_blurb
                  | Research on the future of mobile development for a client.
                  .clearfix
                  //- a.blurb--link(href='#', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalmobileUx') View Details

        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/FoosUX.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Zamba!
                .project_blurb
                  | Interactive Design and Research project connecting global gamers at various airports.
                  .clearfix
                  //- a.blurb--link(href='#', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details

        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/ux/teamY.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption People Like Us
                .project_blurb
                  | PLUS connects K-12 educators' needs with community resources.
                  .clearfix
                  //- a.blurb--link(href='#', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalplusUx') View Details
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.UXP
          .project_img
            img.img-responsive(src='assets/img/projects/startup/popuphood.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Popuphood
                .project_blurb
                  | Small business incubator in Oakland, CA
                  .clearfix
                  a.blurb--link(href='http://www.popuphood.com/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalpopupUx') View Details
      .row
        .col-xs-12.col-md-3-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/moseyClient.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Mosey
                .project_blurb
                  | Mosey is an SF startup where people create adventures.
                  .clearfix
                  a.blurb--link(href='https://www.mosey.com/', target='_blank') View Site
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalmoseyUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/plume1.jpg', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Plume
                .project_blurb
                  | Women's health startup focused on data and wearable technology.
                  .clearfix
                  //- a.blurb--link(href='#', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalplumeUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/wav.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption wāv app
                .project_blurb
                  | wāv app is a new social site to meet people nearby, download on iTunes!
                  .clearfix
                  a.blurb--link(href='http://blog.agilityio.com/wav-by-the-hobby-now-available-on-itunes/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalwavUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.Startup
          .project_img
            img.img-responsive(src='assets/img/projects/startup/verified.png', alt='UX work thumbnail')
            .project
              .content.text-align-center
              .project_caption Verified
                .project_blurb
                  | Verify your professional colleagues, download on iTunes!
                  .clearfix
                  a.blurb--link(href='http://www.verified.space/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalverifiedUx') View Details

      .row
        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/snackTn.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption SnackTN
                .project_blurb
                  | SnackTN showcases local foods, drinks and makers.
                  .clearfix
                  a.blurb--link(href='http://www.snacktn.com/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalsnackTNUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/spaceCats.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption SpaceCats!
                .project_blurb
                  | Mid-term capstone at NSS. Built using Angular and Phaser, this is a fun game with cats in space!
                  .clearfix
                  a.blurb--link(href='http://jybjones.com/SpaceCats/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalspaceCatsUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/weather.png', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption WeatherApp
                .project_blurb
                  | One of my first projects at NSS using an API
                  .clearfix
                  a.blurb--link(href='http://jybjones.com/WeatherApp/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalweatherUx') View Details

        .col-xs-12.col-md-4-centered.portfolio-item.portfolio--project.WD
          .project_img
            img.img-responsive(src='assets/img/projects/web/sharecove.jpg', alt='Web  thumbnail')
            .project
              .content.text-align-center
              .project_caption Sh@reBox
                .project_blurb
                  | Final Capstone Project
                  .clearfix
                  a.blurb--link(href='http://sharebox-capstone.herokuapp.com/', target='_blank') View Project
                  button.btn.btn-default.action(data-toggle='modal' data-target='#modalshareboxUx') View Details

        include modal/_otakuUx
        include modal/_plusUx
        include modal/_popupUx
        include modal/_mobileUx
        include modal/_moseyUx
        include modal/_plumeUx
        include modal/_wavUx
        include modal/_verifiedUx
        include modal/_snackTNUx
        include modal/_spaceCatsUx
        include modal/_weatherUx
        include modal/_shareboxUx

        //- include modal/_snackTNUx ---ADD DITTO!!!
