section#projects
  .container#filters
    .row
      .col-sm-12.padding-bottom
        h2.primary-headline.txt-align-center Projects
        hr.hr-fade.line-dark
    .txt-align-center.padding-bottom
  .filters
      h2 Filter projects by:
      .filter.UX-project UX Design & Research
      .filter.Startup-project Startups
      .filter.WD-project Github Projects
      .filter.Misc-project Misc...

      .row
      .col-sm-4.portfolio-item.portfolio--project.UXP
        .project_img
          img.img-responsive(src='assets/img/projects/ux/FoosUX.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Zamba!
              .project_blurb
                | Interactive Design and Research project connecting global gamers at various airports.
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        //- include ../_partials/modal/project-example.jade
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.UXP
        .project_img
          img.img-responsive(src='assets/img/projects/ux/mobileDev.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Future of Mobile Development!
              .project_blurb
                | Research on the furutre of movible development for a client.
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        //- include ../_partials/modal/project-example.jade
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.UXP
        .project_img
          img.img-responsive(src='assets/img/projects/ux/teamY.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Teachers
             .project_blurb
                | Research on the future of mobile development for a client.
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
          include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.Startup
        .project_img
          img.img-responsive(src='assets/img/projects/startup/moseyClient.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Mosey
              .project_blurb
                | Mosey is an SF startup where people create adventures.
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.Startup
        .project_img
          img.img-responsive(src='assets/img/projects/startup/plumeLanding.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Plume
              .project_blurb
                | The first smart tampon and app to help women keep track of their menstrual cycles.
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.Startup
        .project_img
          img.img-responsive(src='assets/img/projects/startup/wav.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption wāv app
              .project_blurb
                | wāv app is a new social site to meet people nearby, download on iTunes!
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.Startup
        .project_img
          img.img-responsive(src='assets/img/projects/startup/popuphood.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Popuphood
              .project_blurb
                | Small business incubatore in Oakland, CA
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.Startup
        .project_img
          img.img-responsive(src='assets/img/projects/startup/verified.png', alt='UX work thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Verified
              .project_blurb
                | Verify your professional colleagues, download on iTnes!
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade

      .col-sm-4.portfolio-item.portfolio--project.WD
        .project_img
          img.img-responsive(src='assets/img/projects/web/snackTn.png', alt='Web  thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Snack TN
              .project_blurb
                | Find local products with SnackTN app!
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade
      .col-sm-4.portfolio-item.portfolio--project.WD
        .project_img
          img.img-responsive(src='assets/img/projects/web/spaceCats.png', alt='Web  thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Spacecats
              .project_blurb
                | Mid-term capstone at NSS. Built using Angular and Phaser, this is a fun game with cats in space!
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade

      .col-sm-4.portfolio-item.portfolio--project.Misc
        .project_img
          img.img-responsive(src='assets/img/projects/web/snackTn.png', alt='Web  thumbnail')
          .project(style='width:337px;height:172px;')
            .content.text-align-center
            .project_caption Misc Caption
              .project_blurb
                | Small Blurb here about project
                a.blurb--link(href='#') View Project
                button.btn.btn-default.action(data-toggle='modal' data-target='#modalOtakuUx') View Details
        include ../_partials/modal/otakuUx.jade


      //- .col-sm-4.portfolio--project.Misc
      //-   .project_img
      //-     img(src='assets/img/projects/web/snackTn.png', alt='misc work thumbnail')
      //-   .project
      //-     .project_caption this is a caption
      //-     .project_blurb
      //-       | this is a small blurb about each project. It's short and sweet, and meant to grab your attention.
      //-     a.blurb--link(href='#') View Project
      //- .col-sm-4.portfolio--project.Misc
      //-   .project_img
      //-     img(src='assets/img/projects/web/snackTn.png', alt='misc work thumbnail')
      //-   .project
      //-     .project_caption this is a caption
      //-     .project_blurb
      //-       | this is a small blurb about each project. It's short and sweet, and meant to grab your attention.
      //-     a.blurb--link(href='#') View Project
      //- .col-sm-4.portfolio--project.Misc
      //-   .project_img
      //-     img(src='assets/img/projects/web/snackTn.png', alt='misc work thumbnail')
      //-   .project
      //-     .project_caption this is a caption
      //-     .project_blurb
      //-       | this is a small blurb about each project. It's short and sweet, and meant to grab your attention.
      //-     a.blurb--link(href='#') View Project
      //- .col-sm-4.portfolio--project.Misc
      //-   .project_img
      //-     img(src='assets/img/projects/web/snackTn.png', alt='misc work thumbnail')
      //-   .project
      //-     .project_caption this is a caption
      //-     .project_blurb
      //-       | this is a small blurb about each project. It's short and sweet, and meant to grab your attention.
      //-     a.blurb--link(href='#') View Project
