script(src="lib/build.js")
script(src="js/main.js")

script(src='js/app/carousel.js')
script(src='js/app/portfolio-filter.js')

script(src="js/app/stickyMenu.js")
//- script(src="js/app/slick.min.js")
