section#skills
.well
    .container
        .row
          .col-lg-12.col-md-12
            .heading
              h2.wow.fadeInLeftBig Capabilities & Tools
              hr.hr-fade.line-dark
              h2
                | Design and Business are interconnected.
              p
                | Business is the strategy for how to go about solving a problem, and business is human-centered. Technology helps bridge the gap between the two.

     .container
       .row
          .col-lg-12.col-md-12
               .row
                  .col-lg-6.col-md-6.col-sm-6
                      h3.service_title Planning & Strategy
                      p
                        | I have a strong combination of creative and analytical skills to both create business and marketing plans, as well as analyze them.

                  .col-lg-6.col-md-6.col-sm-6
                      h3.service_title Design & UX
                      p
                        | Recognizing that complex problems need to be addressed through a multi-faceted approach centered around a user’s touchpoints is what ultimately delivers delight, joy, and inspiration.

      .container
      .skills.items
      .well
        .centerText.col-lg-8.col-lg-offset-2
                  h2.span.text-align-center Tools I have Experience With:
        .row.skills
          .row
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://www.javascript.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/java120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://jquery.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/jquery120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://angularjs.org', target='_blank')
                img.img-responsive(src='assets/img/skills/ang120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3', target='_blank')
                img.img-responsive(src='assets/img/skills/css120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://www.w3schools.com/html/html5_intro.asp', target='_blank')
                img.img-responsive(src='assets/img/skills/html120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://github.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/git120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://nodejs.org/en/', target='_blank')
                img.img-responsive(src='assets/img/skills/nodejs.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://www.atlassian.com/software/jira', target='_blank')
                img.img-responsive(src='assets/img/skills/jira120.jpg')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://jade-lang.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/jade120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://gruntjs.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/grunt120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://ionicframework.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/ionic120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://www.mongodb.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/mongo120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://www.mysql.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/mysql120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://getbootstrap.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/bootstrap120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://www.autodesk.com/products/autocad/overview', target='_blank')
                img.img-responsive(src='assets/img/skills/autocad120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://www.photoshop.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/photoshop120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://www.3dsystems.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/3d120.jpg')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='http://www.salesforce.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/sales120.png')
                .clearfix
            .col-lg-3.col-md-4.col-sm-2
              a.thumbnail(href='https://www.zendesk.com/', target='_blank')
                img.img-responsive(src='assets/img/skills/zendesk.png')
                .clearfix

