section#skills
      .container
        .row
          .col-lg-12.col-md-12
            .heading
              h2.wow.fadeInLeftBig Skills
              p
                | Design and Business are connected. Disruptive Innovation. I like lots of things like eating....asdfasfsadfasdfsdfasdfasdfasdfsadfsadfasdfasdfasdfasdfasfdasdfasdfasdfsadfsdfsafasdfasd
        .row
          .col-lg-12.col-md-12
            .service_area
              .row
                .col-lg-6.col-md-6.col-sm-6
                  .single_service.wow.fadeInLeft
                    .service_iconarea
                      span.fa.fa-line-chart.service_icon
                    h3.service_title Planning & Strategy
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
                .col-lg-6.col-md-6.col-sm-6
                  .single_service.wow.fadeInRight
                    .service_iconarea
                      span.fa.fa-suitcase.service_icon
                    h3.service_title Design & UX
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
              section#works
      // BEGIN MILESTONE WORSK SECTION
      .row
        .col-lg-12.col-md-12
          .counter_section
            // SKILLS COUNTER OVERLAY
            .slider_overlay
            .container
              .counter_area
                .heading
                  h3.wow.fadeInLeft Some Tools I have used
                // START SINGLE COUNTER
                .col-lg-3.col-md-3.col-sm-3
                  .counter.wow.fadeInUp
                    i.fa.fa-users.fa-2x
                    h2#count-number.timer.count-title(data-to='940', data-speed='1500') HTML/CSS
                    p.count-text Frameworks & Libraries
                // START SINGLE COUNTER
                .col-lg-3.col-md-3.col-sm-3
                  .counter.wow.fadeInUp
                    i.fa.fa-tasks.fa-2x
                    h2#count-number2.timer.count-title(data-to='1750', data-speed='1500') Phaser
                    p.count-text Games
                // START SINGLE COUNTER
                .col-lg-3.col-md-3.col-sm-3
                  .counter.wow.fadeInUp
                    i.fa.fa-coffee.fa-2x
                    h2#count-number3.timer.count-title(data-to='300', data-speed='1500') Node.js
                    p.count-text Back-End
                // START SINGLE COUNTER
                .col-lg-3.col-md-3.col-sm-3
                  .counter.wow.fadeInUp
                    i.fa.fa-bullhorn.fa-2x
                    h2#count-number4.timer.count-title(data-to='875', data-speed='1500') 100
                    p.count-text Subscribers
