section#skills
    .container
        .row
          .col-lg-12.col-md-12
            .heading
              h2.wow.fadeInLeftBig Skills & Tools
              hr.hr-fade.line-dark
              p
                | Design and Business are connected. Disruptive Innovation. I like lots of things like eating....asdfasfsadfasdfsdfasdfasdfasdfsadfsadfasdfasdfasdfasdfasfdasdfasdfasdfsadfsdfsafasdfasd
   .container
     .row
        .col-lg-12.col-md-12
           .service_area
             .row
                .col-lg-6.col-md-6.col-sm-6
                    h3.service_title Planning & Strategy
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
                .col-lg-6.col-md-6.col-sm-6
                    h3.service_title Design & UX
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
    .container
        .row
          .col-lg-12.col-md-12
            .heading
              h2 Tools
              p
                | Some Tools I have used are:
                body.skills

    section#items.clearfix.col-md-12.col-lg-12
          .rowSkills
            li
               .col-xs-2.col-md-4
                h2 JavaScript
                p JavaScript an object-oriented computer programming language commonly used to create interactive effects within web browsers.
                img.icon(alt='', src='assets/img/skills/jsImage.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 jQuery
                p jQuery: The Write Less, Do More, JavaScript Library.
                img.icon(alt='', src='assets/img/skills/jquery.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 AngularJS
                p AngularJS is what HTML would have been, had it been designed for building web-apps.
                img.icon(alt='', src='assets/img/skills/angular.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 Github
                p Build software better, together.
                img(alt='', src='assets/img/skills/github.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 CSS3
                p Since CSS3 split the CSS language's definition into modules, the modules have been allowed to level independently.
                img(alt='', src='assets/img/skills/css.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 HTML5
                p HTML5 is a core technology markup language of the Internet used for structuring and presenting content for the World Wide Web.
                img(alt='', src='assets/img/skills/html.jpg')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 Node.js
                p Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
                img(alt='', src='assets/img/skills/node.png')
                .clearfix
            li
               .col-xs-2.col-md-4
                h2 Jira
                p Customer service software and support ticket software by Zendesk®
                img(alt='', src='assets/img/skills/jira.png')
                .clearfix


