section#skills
    .container
        .row
          .col-lg-12.col-md-12
            .heading
              h2.wow.fadeInLeftBig Capabilities & Tools
              hr.hr-fade.line-dark
              h1
                | Design and Business are interconnected.
              p
                | Business is the strategy for how to go about solving a problem, and business is human-centered. Technology helps bridge the gap between the two.

     .container
       .row
          .col-lg-12.col-md-12
               .row
                  .col-lg-6.col-md-6.col-sm-6
                      h3.service_title Planning & Strategy
                      p
                        | I have a strong combination of creative and analytical skills to both create business and marketing plans, as well as analyze them.

                  .col-lg-6.col-md-6.col-sm-6
                      h3.service_title Design & UX
                      p
                        | Recognizing that complex problems need to be addressed through a multi-faceted approach centered around a user’s touchpoints is what ultimately delivers delight, joy, and inspiration.

      .skills.items
        h2 Tools I have experience with:
        .row
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/jsImage.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/jquery.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/angular.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/css.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/html.jpg')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/github.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/node.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/jira.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/jade.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/grunt.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/ionic.jpg')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/mongodb.jpg')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/bootstrap.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/autocad.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/adobe.png')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/3d.jpg')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/salesforce.jpg')
            .clearfix
          .col-sm-2.col-xs-4
            img.icon(src='assets/img/skills/zendesk.jpg')
            .clearfix

