// these are coming from public folder
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
link(rel='stylesheet', href='css/main.css')

//- // Bootstrap css file
//- link(href='css/bootstrap.min.css', rel='stylesheet')
//-     // Font awesome css file
//- link(href='css/font-awesome.min.css', rel='stylesheet')
//-     // Superslide css file
//- link(rel='stylesheet', href='css/superslides.css')
//-     // Slick slider css file
//- link(href='css/slick.css', rel='stylesheet')
//-     // smooth animate css file
//-  link(rel='stylesheet', href='css/animate.css')
//-     // Elastic grid css file
//- link(rel='stylesheet', href='css/elastic_grid.css')
//-     // Circle counter cdn css file
//- link(rel='stylesheet prefetch', href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css')
//-     // Default Theme css file
//- link#orginal(href='css/themes/default-theme.css', rel='stylesheet')
//-     // Main structure css file
//- link(href='style.css', rel='stylesheet')


// Fonts
link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Francois+One')
link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic')

