script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
script(src="js/app/modernizr.custom.js")
//- script(src="js/wow.min.js")
script(src="js/app/prefixfree.min.js")
script(src="js/app/stickyMenu.js")
script(src="js/app/slick.min.js")


script(src="lib/build.js")
script(src="js/main.js")

script(src='js/app/scroll.js')
script(src='js/app/carousel.js')
script(src='js/app/portfolio-filter.js')
script(src='js/app/scrollspy.js')

//- script(src='scripts/plugin.js')
//- script(src='scripts/app.js')
